@using WebStoryFroEveryting.Models.Jerseys
@model JerseyWithCommentsViewModel
@{
    Layout = "~/Views/Shared/_LayoutJersey.cshtml";
}



<div class="jersey-detail">
    <div class="jersey-detail-img">
        <img src="@Model.Img" />
    </div>
    <div class="jersey-detail-info">
        <div class="jersey-detail-athletename">
            Имя: @Model.AthleteName
        </div>
        <div class="jersey-detail-club">
            Клуб: @Model.Club
        </div>
        <div class="jersey-detail-number">
            Номер: @Model.Number
        </div>
        <div class="tags">
            @foreach (var tag in Model.Tags)
            {
                <span class="tag">@tag</span>
            }
        </div>
        @if (@Model.IsTagCreatingEnable)
        {
            <form method="post" action="/jerseys/AddTag">
                <input name="jerseyId" type="hidden" value="@Model.Id" />
                <div>
                    <input name="tag" placeholder="type tag here" />
                </div>
                <div>
                    <button type="submit">Добавить</button>
                </div>
            </form>
        }

        <div class="comments-container">
            <div class="comments">
                @foreach (var comment in Model.Comments)
                {
                    <div class="comment">
                        @comment.UserName: @comment.Comment [@comment.Created]
                    </div>
                }
            </div>
            @if (Model.IsAuthenticated)
            {
                <form method="post" action="/jerseys/AddComment">
                    <input name="jerseyId" type="hidden" value="@Model.Id" />
                    <div>
                        <input name="commenttext" placeholder="type comment here" />
                    </div>
                    <div>
                        <button type="submit">Добавить</button>
                    </div>
                </form>
            }
            else
            {
                <div>
                    Залогиньтесь или зарегистрируйтесь чтобы оставить комментарий
                </div>
            }

        </div>
    </div>

</div>
