@using WebStoryFroEveryting.Models.Jerseys
@model JerseyWithCommentsViewModel
@{
    Layout = "~/Views/Shared/_LayoutJersey.cshtml";
}
@section Scripts {
    <script src="/js/jersey/detail.js"></script>
    <script src="/js/jersey/jersey-cart-detail.js"></script>
    <script src="/js/jersey/extm.min.js"></script>
}



<div class="jersey-detail">
    <input type="hidden" name="positionsInCart" value="@Model.Cart.Items.Count">
    <div class="jersey-detail-img">
        <img src="@Model.Img" />
    </div>
    <div class="jersey-detail-info">
        <div class="jersey-detail-athletename">
            Имя: @Model.AthleteName
        </div>
        <div class="jersey-detail-club">
            Клуб: @Model.Club
        </div>
        <div class="jersey-detail-number">
            Номер: @Model.Number
        </div>
        <div class="jersey-detail-price">
            Цена: @Model.Price BYN
        </div>
        @if (Model.Cart.Items.Any(x => x.Id == Model.Id))
        {
            <a class="button addedToCart-button" href="#">Добавлено в корзину</a>
        }
        else
        {
            <a class="button addToCart-button" href="#">Добавить в корзину</a>
        }
        <div class="tags">
            @foreach (var tag in Model.Tags)
            {
                <span class="tag">@tag </span>
            }
        </div>
        <input name="jerseyId" type="hidden" value="@Model.Id" />
       
        @if (@Model.IsTagCreatingEnable)
        {
            <form method="post" action="/jerseys/AddTag">
                <input name="jerseyId" type="hidden" value="@Model.Id" />
                <div>
                    <input name="tag" placeholder="type tag here" />
                </div>
                <div>
                    <button type="submit">Добавить</button>
                </div>
            </form>
        }

        <div class="comments-container">
            <div class="comments">
                @foreach (var comment in Model.Comments)
                {
                    <div class="comment">
                        @comment.UserName: @comment.Comment [@comment.Created]
                    </div>
                }
            </div>
            @if (Model.IsAuthenticated)
            {
                <form method="post" action="/jerseys/AddComment">
                    <input name="jerseyId" type="hidden" value="@Model.Id" />
                    <div>
                        <input name="commenttext" placeholder="type comment here" />
                    </div>
                    <div>
                        <button type="submit">Добавить</button>
                    </div>
                </form>
            }
            else
            {
                <div>
                    Залогиньтесь или зарегистрируйтесь чтобы оставить комментарий
                </div>
            }

        </div>
    </div>

</div>
