@using WebStoryFroEveryting.Models.Jerseys
@model JerseyIndexViewModel
@{
	Layout = "~/Views/Shared/_LayoutJersey.cshtml";
}
@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="/js/jersey/index.js"></script>
<script src="/js/jersey/chat-client.js"></script>
<script src="/js/jersey/jersey-cart-index.js"></script>
}
@section Styles {
<link href="~/css/jerseys/chat-client.css" rel="stylesheet" />
}
<div id="content-left">
	<div class="tags">
		<a href="/jerseys/Index" class="tag">Сбросить фильтр</a>
		@foreach (var tag in Model.Tags)
		{
			<a href="/jerseys/Index?tag=@tag" class="tag @(tag == Model.CurrentTag ? "active": "")">@tag</a>
		}
	</div>
</div>
<div id="content-right">
	<input type="hidden" name="positionsInCart" value="@Model.Cart.Items.Count">
	@foreach (var jersey in Model.Jerseys)
	{
		<div class="jersey">
			<div class="jersey-img">
				<img src="@jersey.Img" data-mainimg="@jersey.Img" data-secondimg="@jersey.SecondImg" />
			</div>
			<div class="name">
				@jersey.AthleteName
			</div>
			<div class="price">
				Цена: @jersey.Price BYN
			</div>
			<a class="button" href="/jerseys/detail?jerseyid=@jersey.Id">Подробнее</a>
			@if(Model.Cart.Items.Any(x => x.Id == jersey.Id))
			{
				<a class="button addedToCart-button" href="#">Добавлено в корзину</a>
			}
			else
			{
				<a class="button addToCart-button" href="#">Добавить в корзину</a>
			}
			
			@if (Model.IsAdmin)
			{
				<a class="button red" href=" /jerseys/remove?jerseyId=@jersey.Id">Удалить</a>
			}
			<input type="hidden" name="jersey-id" value="@jersey.Id" />
		</div>
		
	}
	@if (Model.IsAdmin)
	{
		<div class="jersey create">
			<input type="text" placeholder="Имя" name="AthleteName" />
			<input type="text" placeholder="Фото" name="Img" />
			<input type="text" placeholder="Фото2" name="SecondImg" />
			<input type="text" placeholder="Цена" name="Price" />
			<input type="text" placeholder="Номер" name="Number" />
			<input type="text" placeholder="Клуб" name="Club" />
			<input type="text" placeholder="На складе" name="InStock" />
			<input type="button" />
		</div>

	}
	<div class="jersey template">
		<div class="jersey-img">
			<img src="" data-mainimg="" data-secondimg="" />
		</div>
		<div class="name">
			
		</div>
		<a class="button more" href="">Подробнее</a>
		@if (Model.IsAdmin)
		{
			<a class="button red" href="">Удалить</a>
		}
		
	</div>
	@if (!Model.IsAdmin)
	{
		<div id="chat-client">
			<div id="chat-header">Чат с админом</div>
			<div id="chat-main-area">
				<div id="chat-message-list">
					
				</div>
				<div id="chat-message-input">
					<input id="chat-text-input" type="text" />
					<input id="chat-button-input" type="button" value="Отправить" />
				</div>
			</div>
			
		</div>
	}
</div>


