@using WebStoryFroEveryting.Models.UnderwaterHuntersWorld
@model HunterIndexViewModel
@{
	Layout = "~/Views/Shared/_LayoutHunter.cshtml";
}
@section Scripts {
	<script src="~/js/UnderwaterHunter/index.js"></script>
}

<div class="userName">@Model.Author</div>
<div class="filter-By-Tags">
	<div>Filters:</div>
	<div class="tags">
		@foreach (var tag in Model.Tags)
		{
			<a href="/UnderwaterHunter/Index?tag=@tag" class="showTag">@tag, </a>
		}
	</div>
</div>
<div class="allHunters">
	@foreach (var item in Model.Hunters)
	{
		<div class="hunters" data-id="@item.Id">
			<div class="likes">
				<a href="#" class="image-like">
					<img src="~/images/Like.png" />
				</a>
				<div class="likesCount">@item.LikesCount</div>
				<div class="dislikes">
					<a href="#" class="image-dislike">
						<img src="~/images/DisLike.png" />
					</a>
					<div class="dislikesCount">@item.DislikesCount</div>
				</div>
			</div>
			<div class="image">
				<img src="@item.Src" />
			</div>
			<div class="name">@item.NameHunter</div>
			<div class="nationality">Nationality: @item.Nationality</div>
			<div class="maxDepth">Maximum hunting depth: @item.MaxHuntingDepth meters</div>
			<a class="leave-comment " href="/UnderwaterHunter/CommentHunter?id=@item.Id">Add comment and tag</a>
			<a href="#" class="removeIcon">Remove the hunter from the base!</a>
			<a href="#" class="hide-image">Hide image</a>
		</div>
	}
	<div class="newHunters hunters" data-id="">
		<div class="image">
			<img src="" />
		</div>
		<div class="name"></div>
		<div class="nationality">Nationality: </div>
		<div class="maxDepth">Maximum hunting depth: meters</div>
		<a class="leave-comment " href="#">Add comment and tag</a>
		<a href="#" class="removeIcon">Remove the hunter from the base!</a>
		<a href="#" class="hide-image">Hide image</a>
	</div>
</div>
<div class="blockForCreating-startPage allHunters">
	<div class="hunters" data-id="">
		<div class="image-container">
			<img src="" />
		</div>
		<div class="name">
			<input class="new-name" placeholder="name" />
		</div>
		<div class="nationality">
			<input class="new-nationality" placeholder="nationality" />
		</div>
		<div class="maxDepth">
			<input class="new-maxDepth" placeholder="max depth" />
		</div>
		<div class="image">
			<input class="new-image" placeholder="src" />
		</div>
		<a class="creatHunter" href="#">Create new hunter </a>
	</div>
</div>