@using WebStoryFroEveryting.Models.GamingDevice
@model GamingDeviceIndexViewModel

@{
    Layout = "~/Views/Shared/_LayoutGamingDevice.cshtml";
}

@section Styles{
    <link href="~/css/GamingDevice/gamingDeviceSpeical.css" rel="stylesheet" />
}

@if (Model.CanUserFillters)
{
    <div class="stock-addresses">
        <a href="/GamingDevice/GetGamingDevices" class="stock-address">Сбросить фильтр</a>
        @foreach (var address in Model.StockAdresses)
        {
            <a href="/GamingDevice/GetGamingDevices?stockAddress=@address" class="stock-address @(address == Model.CurrentStockAddress ? "active": "")">@address</a>
        }
    </div>
}

<div class="devices">
    @foreach (var device in Model.Devices)
    {
        <div class="device">
            <div class="brand">@device.Brand</div>
            <div class="brand">@device.Name</div>
            <div class="image-container">
                <img src="@device.Src" />
            </div>
            <div class="brand">@device.Price</div>
            <div class="buttons">
                <div class="button">+</div>
                <a href="/GamingDevice/RemoveGamingDevice?deviceId=@device.Id" class="button">-</a>
            </div>
            <div class="device-add-review-button">
                <a href="/GamingDevice/ReviewForGamingDevice?deviceId=@device.Id" class="button">Leave review</a>
            </div>
        </div>
    }
</div>