@using WebStoryFroEveryting.Models.FootballPlayer
@model PlayerWithDescriptionViewModel

@{
    Layout = "~/Views/Shared/_LayoutFootball.cshtml";
}

@section Styles {
    <link href="~/css/FootballPlayer/footballPlayerWithDescription.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Player/description.js"> </script>
}

<div class="player-with-description">
    <div class="player-container">
        <h1>@Model.Name</h1>
        <div class="tags">
            @foreach (var tag in Model.Tags)
            {
                <span class="tag">@tag</span>
            }
        </div>
        <form method="post" action="/FootballPlayer/AddTag">
            <input name="playerId" type="hidden" value="@Model.Id" />
            <div>
                <input name="tag" placeholder="type tag here" />
            </div>
            <div>
                <button type="submit">Добавить</button>
            </div>
        </form>
        <div class="image-description-container">
            <img src="@Model.Src" />
        </div>

    </div>

    <div class="description">
        @foreach (var description in Model.Descriptions)
        {
            <div class="description">
                @description.Description
            </div>
        }
    </div>

    <div class="description-container">
        <form method="post" action="/FootballPlayer/AddDescription">
            <input name="playerId" type="hidden" value="@Model.Id" />
            <div>
                <input name="description" placeholder="type description here" />
            </div>
            <div>
                <button type="submit">Добавить</button>
            </div>
        </form>
    </div>
</div>