@using WebStoryFroEveryting.Models.FootballPlayer
@model PlayerIndexViewModel

@{
    Layout = "~/Views/Shared/_LayoutFootball.cshtml";
}

@section Styles {
    <link href="~/css/FootballPlayer/footballPlayerSpeical.css" rel="stylesheet" />
}

<div class="tags">
    <a href="/FootballPlayer/Index" class="tag">Сбросить фильтр</a>
    @foreach (var tag in Model.Tags)
    {
        <a href="/FootballPlayer/Index?tag=@tag" class="tag @(tag == Model.CurrentTag ? "active" : "")">@tag</a>
    }
</div>

<div class="players">
    @foreach (var player in Model.Players)
    {
        <div class="player">
            <div class="name">@player.Name</div>
            <div class="image-container">
                <img src="@player.Src" />
            </div>
            <div class="position">Амплуа: @player.Position</div>
            <div class="weight">Вес: @player.Weight</div>
            <div class="height">Рост: @player.Height</div>
            <div class="buttons">
                <a href="/FootballPlayer/DescriptionForPlayer?playerId=@player.Id" class="button">Описание </a>
                <a href="/FootballPlayer/RemovePlayer?id=@player.Id" class="button">Удалить</a>
            </div>
        </div>
    }
</div>