@using WebStoryFroEveryting.Models.FootballPlayer
@model PlayerIndexViewModel

@{
    Layout = "~/Views/Shared/_LayoutFootball.cshtml";
}

@section Styles {
    <link href="~/css/FootballPlayer/footballPlayerSpeical.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Player/index.js"> </script>
}

<div class="tags">
    <a href="/FootballPlayer/Index" class="tag">Сбросить фильтр</a>
    @foreach (var tag in Model.Tags)
    {
        <a href="/FootballPlayer/Index?tag=@tag" class="tag @(tag == Model.CurrentTag ? "active" : "")">@tag</a>
    }
</div>

<div class="players">
    @foreach (var player in Model.Players)
    {
        <div class="player" data-id="@player.Id">
            <div class="name">
                <div class="view-mode">
                    @player.Name
                </div>
                <div class="update-mode">
                    <input class="new-name" />
                    <button class="update">Upd</button>
                    <button class="close">Close</button>
                </div>
            </div>
            <div class="image-container">
                <img src="@player.Src" />
            </div>
            <div class="position">Амплуа: @player.Position</div>
            <div class="weight">Вес: @player.Weight</div>
            <div class="height">Рост: @player.Height</div>
            <div class="buttons">
                <a href="/FootballPlayer/DescriptionForPlayer?playerId=@player.Id" class="button">&nbspОписание&nbsp</a>
                <a href="/FootballPlayer/RemovePlayer?id=@player.Id" class="button">&nbspУдалить&nbsp</a>
                <a href="#" class="ajax-remove">&nbspУдалить Ajax&nbsp</a>
                <a href="#" class="like">@player.LikesCount</a>
            </div>
        </div>
    }

    <div class="player-create-container" data-id="">
        <div class="name">
            <input class="new-name" />
            <input class="new-image" />
            <input class="new-position" />
            <input class="new-weight" />
            <input class="new-height" />
        </div>
        <div class="image-container">
            <img src="" />
        </div>
        <div class="buttons">
            <a href="#" class="button">&nbsp;</a>
            <a href="#" class="create">create</a>
            <a href="#" class="button">&nbsp</a>
        </div>
    </div>
</div>